services:
  web:
    build: .
    command: gunicorn Backend.wsgi:application --bind 0.0.0.0:9000
    ports:
      - 9000:9000
    env_file:
      - .env.prod
    depends_on:
      - db
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env.prod

volumes:
  postgres_data: